.details {
  .flex-right {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: 540px;
    overflow: hidden;

    h3 {
      position: absolute;
      font-size: 12px;
      left: 20px;
      bottom: 0;
      color: #fff;
    }

    img {
      height: 100%;
    }
  }

  .image {
    overflow: hidden;
    width: 100%;
    display: flex;
  }
  .info {
    width: 100%;
    margin-top: 40px;

    ul {
      padding: 0 18px;
    }

    .sub {
      padding: 10px 0;
      border-bottom: 1px solid #bfbfbf;
      span {
        font-weight: 600;
      }

      .appearance {
        display: flex;

        h3 {
          margin-right: 7px !important;
        }
      }
    }

    h1 {
      font-size: 42px;
      line-height: 50px;
      font-weight: 600;
    }

    h3 {
      margin: 0;
    }
  }
}
