<div *ngIf="character$ | async as character" class="details container" @fade>
  <div class="row">
    <div class="col-6 flex-right">
      <img [src]="character.img" alt="" />
      <h3>
        {{ character.nickname }}
      </h3>
      <ng-container *ngIf="quote$ | async as quote">
        <at-quote class="quote" [quote]="quote"></at-quote>
      </ng-container>
    </div>
    <div class="col-6">
      <div class="info container-fluid">
        <div class="col-12 block">
          <span class="subtitle">
            {{ "details.name" | translate }}
          </span>
          <h1>{{ character.name }}</h1>
        </div>
        <div class="col-12 block">
          <span class="subtitle"> {{ "details.status" | translate }}</span>
          <h3>{{ character.status }}</h3>
        </div>
        <div class="col-12 block">
          <span class="subtitle"> {{ "details.portrayed" | translate }}</span>
          <h3>{{ character.portrayed }}</h3>
        </div>
        <div class="col-12 block">
          <span class="subtitle"> {{ "details.birthday" | translate }}</span>
          <h3>{{ character.birthday }}</h3>
        </div>
        <div class="col-12 block">
          <span class="subtitle"> {{ "details.occupation" | translate }}</span>
          <ul>
            <li *ngFor="let occupation of character.occupation">
              {{ occupation }}
            </li>
          </ul>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-6 block" *ngIf="character.appearance.length > 0">
              <span class="subtitle mb-2">
                {{ "details.appearance" | translate }}</span
              >
              <div class="info__breaking_bad">
                <div class="seasons">
                  <span *ngFor="let appearance of character.appearance">
                    {{ appearance }}
                  </span>
                </div>
              </div>
            </div>
            <div
              class="col-6 block"
              *ngIf="character.better_call_saul_appearance.length > 0"
            >
              <span class="subtitle mb-2">
                {{ "details.appearanceBCS" | translate }}</span
              >
              <div class="info__better_call_saul">
                <div class="seasons">
                  <span
                    *ngFor="
                      let appearance of character.better_call_saul_appearance
                    "
                  >
                    {{ appearance }} 
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="info__breaking_bad__image">
  <img src="./../../../assets/logos/breaking-bad-logo.png" />
</div> -->
<!-- 
<div class="info__better_call_saul__image">
  <img src="./../../../assets/logos/better-call-saul.png" />
</div> -->
