.header {
    background: #fffffff0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    position: fixed;
    width: 100%;
    z-index: 9;

    h1 {
        margin: 0 !important;
    }

    img {
        height: 70px;
        position: fixed;
    }
}
